* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}


.span_myTitle{
  font-size: calc(2.5rem + 2.5vh);
  font-family: 'Tangerine', serif;
  font-weight: 700;
  font-style: italic;
  margin-top: 1.5rem;
  width: 50%;
}

/* .exam-time{
  background-image:url('../public/img/exam-form.png');
} */

